{
    "project_id_gcp": "Like myproject-12345",
    "source_image_family": "like ubuntu-1604-lts",
    "machine_type": "Like f1-micro",
    "image_description": "Someshit maker",
    "disk_type": "pd-standard or pd-ssd",
    "disk-size": "Size in GB",
    "network_project_id": "your project_id",
    "tags": "http-server, LAMP"
}%      
